In [1]:
import pandas as pd 
import numpy as np 
from sklearn.preprocessing import MinMaxScaler
#from ELO import ELO_rating

In [2]:
# Read in the PL22-23.csv file from https://www.football-data.co.uk/englandm.php
pd.set_option('display.max_columns', None)
season23 = pd.read_csv('../data/PL22-23.csv')
season23.head()

,Div,Date,Time,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,Referee,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA,B365>2.5,B365<2.5,P>2.5,P<2.5,Max>2.5,Max<2.5,Avg>2.5,Avg<2.5,AHh,B365AHH,B365AHA,PAHH,PAHA,MaxAHH,MaxAHA,AvgAHH,AvgAHA,B365CH,B365CD,B365CA,BWCH,BWCD,BWCA,IWCH,IWCD,IWCA,PSCH,PSCD,PSCA,WHCH,WHCD,WHCA,VCCH,VCCD,VCCA,MaxCH,MaxCD,MaxCA,AvgCH,AvgCD,AvgCA,B365C>2.5,B365C<2.5,PC>2.5,PC<2.5,MaxC>2.5,MaxC<2.5,AvgC>2.5,AvgC<2.5,AHCh,B365CAHH,B365CAHA,PCAHH,PCAHA,MaxCAHH,MaxCAHA,AvgCAHH,AvgCAHA
0,E0,05/08/2022,20:00,Crystal Palace,Arsenal,0,2,A,0,1,A,A Taylor,10,10,2,2,16,11,3,5,1,2,0,0,4.20,3.6,1.85,4.33,3.50,1.87,4.30,3.55,1.85,4.50,3.65,1.89,4.40,3.5,1.83,4.60,3.5,1.87,4.60,3.78,1.95,4.39,3.59,1.88,2.10,1.72,2.14,1.78,2.19,1.91,2.09,1.76,0.50,2.04,1.89,2.03,1.89,2.06,1.91,2.01,1.87,4.50,3.60,1.80,4.50,3.5,1.83,4.40,3.55,1.85,4.58,3.63,1.88,4.80,3.4,1.78,4.75,3.5,1.85,5.01,3.70,1.91,4.56,3.57,1.85,2.10,1.72,2.14,1.78,2.19,1.91,2.08,1.76,0.50,2.09,1.84,2.04,1.88,2.09,1.88,2.03,1.85
1,E0,06/08/2022,12:30,Fulham,Liverpool,2,2,D,1,0,H,A Madley,9,11,3,4,7,9,4,4,2,0,0,0,11.00,6.0,1.25,10.00,5.75,1.28,12.00,5.75,1.27,11.20,6.22,1.28,12.00,5.5,1.27,13.00,6.0,1.25,13.00,6.40,1.31,10.99,6.05,1.28,1.50,2.62,1.50,2.70,1.54,2.76,1.48,2.63,1.75,1.90,2.03,1.91,2.00,1.92,2.04,1.89,1.99,11.00,5.75,1.28,9.25,6.0,1.29,11.00,5.50,1.30,10.50,6.50,1.29,11.00,5.5,1.27,11.50,6.0,1.29,11.95,6.93,1.30,10.33,6.20,1.28,1.50,2.62,1.49,2.77,1.51,3.00,1.47,2.73,1.75,1.90,2.03,1.91,2.02,2.01,2.06,1.89,1.99
2,E0,06/08/2022,15:00,Bournemouth,Aston Villa,2,0,H,1,0,H,P Bankes,7,15,3,2,18,16,5,5,3,3,0,0,3.75,3.5,2.00,3.75,3.40,2.00,3.65,3.45,2.05,3.93,3.58,2.04,3.75,3.3,2.05,3.75,3.3,2.00,4.00,3.66,2.10,3.80,3.50,2.04,2.00,1.80,2.10,1.81,2.10,1.87,2.03,1.80,0.50,1.87,2.06,1.88,2.04,1.88,2.07,1.85,2.04,4.00,3.50,1.95,3.90,3.4,1.95,3.85,3.45,2.00,4.09,3.59,2.00,4.00,3.4,1.95,4.10,3.4,2.00,4.25,3.63,2.06,3.99,3.49,2.00,2.10,1.72,2.13,1.79,2.24,1.81,2.10,1.76,0.50,1.93,2.00,1.93,2.00,1.94,2.04,1.88,2.00
3,E0,06/08/2022,15:00,Leeds,Wolves,2,1,H,1,1,D,R Jones,12,15,4,6,13,9,6,4,2,0,0,0,2.25,3.4,3.20,2.30,3.30,2.95,2.30,3.30,3.15,2.39,3.33,3.30,2.25,3.3,3.20,2.30,3.2,3.10,2.42,3.54,3.30,2.34,3.34,3.18,2.05,1.85,2.09,1.83,2.11,1.87,2.03,1.81,-0.25,2.05,1.88,2.04,1.89,2.06,1.90,2.01,1.87,2.37,3.30,3.00,2.40,3.3,2.75,2.45,3.30,2.95,2.45,3.44,3.09,2.40,3.3,2.90,2.40,3.4,3.00,2.50,3.55,3.18,2.43,3.36,3.02,1.95,1.95,1.96,1.94,2.09,1.96,1.96,1.87,-0.25,2.08,1.85,2.10,1.84,2.14,1.87,2.08,1.81
4,E0,06/08/2022,15:00,Newcastle,Nott'm Forest,2,0,H,0,0,D,S Hooper,23,5,10,0,9,14,11,1,0,3,0,0,1.66,3.8,5.25,1.65,3.80,5.50,1.65,3.80,5.50,1.71,3.74,5.83,1.67,3.7,5.25,1.62,3.7,5.50,1.72,3.96,6.00,1.67,3.80,5.57,2.05,1.85,2.10,1.81,2.10,1.86,2.03,1.81,-0.75,1.87,2.06,1.92,2.01,1.92,2.08,1.86,2.02,1.53,4.00,6.00,1.58,3.9,6.00,1.63,3.80,6.00,1.57,4.22,6.60,1.53,3.9,6.50,1.57,3.9,7.00,1.67,4.30,7.00,1.59,4.07,6.15,1.94,1.96,1.97,1.93,2.06,1.97,1.94,1.89,-1.00,1.97,1.96,1.99,1.93,2.19,1.97,2.03,1.86

In [4]:
season23 = season23.drop(['Div', 'Time', 'Referee', 'B365>2.5', 'B365<2.5', 'P>2.5', 'P<2.5', 'Max>2.5', 'Max<2.5', 'Avg>2.5', 'Avg<2.5', 'AHh', 'B365AHH', 'B365AHA', 'PAHH', 'PAHA', 'MaxAHH', 'MaxAHA', 'AvgAHH', 'AvgAHA', 'B365CH', 'B365CD', 'B365CA', 'BWCH', 'BWCD', 'BWCA', 'IWCH', 'IWCD', 'IWCA', 'PSCH', 'PSCD', 'PSCA', 'WHCH', 'WHCD', 'WHCA', 'VCCH', 'VCCD', 'VCCA', 'MaxCH', 'MaxCD', 'MaxCA', 'AvgCH', 'AvgCD', 'AvgCA', 'B365C>2.5', 'B365C<2.5', 'PC>2.5', 'PC<2.5', 'MaxC>2.5', 'MaxC<2.5', 'AvgC>2.5', 'AvgC<2.5', 'AHCh', 'B365CAHH', 'B365CAHA', 'PCAHH', 'PCAHA', 'MaxCAHH', 'MaxCAHA', 'AvgCAHH', 'AvgCAHA'], axis=1)
season23

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,MaxH,MaxD,MaxA,AvgH,AvgD,AvgA
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,0,1,A,10,10,2,2,16,11,3,5,1,2,0,0,4.20,3.60,1.85,4.33,3.50,1.87,4.30,3.55,1.85,4.50,3.65,1.89,4.40,3.5,1.83,4.60,3.5,1.87,4.60,3.78,1.95,4.39,3.59,1.88
1,06/08/2022,Fulham,Liverpool,2,2,D,1,0,H,9,11,3,4,7,9,4,4,2,0,0,0,11.00,6.00,1.25,10.00,5.75,1.28,12.00,5.75,1.27,11.20,6.22,1.28,12.00,5.5,1.27,13.00,6.0,1.25,13.00,6.40,1.31,10.99,6.05,1.28
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,1,0,H,7,15,3,2,18,16,5,5,3,3,0,0,3.75,3.50,2.00,3.75,3.40,2.00,3.65,3.45,2.05,3.93,3.58,2.04,3.75,3.3,2.05,3.75,3.3,2.00,4.00,3.66,2.10,3.80,3.50,2.04
3,06/08/2022,Leeds,Wolves,2,1,H,1,1,D,12,15,4,6,13,9,6,4,2,0,0,0,2.25,3.40,3.20,2.30,3.30,2.95,2.30,3.30,3.15,2.39,3.33,3.30,2.25,3.3,3.20,2.30,3.2,3.10,2.42,3.54,3.30,2.34,3.34,3.18
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,0,0,D,23,5,10,0,9,14,11,1,0,3,0,0,1.66,3.80,5.25,1.65,3.80,5.50,1.65,3.80,5.50,1.71,3.74,5.83,1.67,3.7,5.25,1.62,3.7,5.50,1.72,3.96,6.00,1.67,3.80,5.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,07/05/2023,Newcastle,Arsenal,0,2,A,0,1,A,12,10,5,6,16,12,9,4,2,1,0,0,2.45,3.75,2.63,2.50,3.60,2.60,2.40,3.65,2.80,2.51,3.80,2.73,2.50,3.6,2.62,2.45,3.5,2.70,2.60,3.94,2.85,2.49,3.73,2.71
343,07/05/2023,West Ham,Man United,1,0,H,1,0,H,15,19,4,4,4,9,5,6,0,2,0,0,3.40,3.75,2.05,3.40,3.60,2.05,3.35,3.65,2.10,3.57,3.78,2.07,3.30,3.6,2.10,3.40,3.6,2.05,3.58,3.90,2.13,3.43,3.74,2.08
344,08/05/2023,Fulham,Leicester,5,3,H,3,0,H,17,18,7,9,13,15,2,7,0,3,0,0,2.63,3.50,2.60,2.70,3.40,2.55,2.65,3.40,2.60,2.71,3.61,2.62,2.60,3.5,2.55,2.63,3.4,2.55,2.80,3.70,2.68,2.67,3.53,2.60
345,08/05/2023,Brighton,Everton,1,5,A,0,3,A,23,10,5,5,11,13,15,1,1,5,0,0,1.33,5.25,9.00,1.35,5.50,7.75,1.35,5.50,8.00,1.38,5.34,8.38,1.33,5.0,9.00,1.33,5.0,9.00,1.39,5.60,9.20,1.35,5.30,8.47
346,08/05/2023,Nott'm Forest,Southampton,4,3,H,3,1,H,9,19,4,5,16,10,2,11,1,0,0,0,2.10,3.60,3.40,2.05,3.40,3.50,2.15,3.50,3.35,2.17,3.60,3.45,2.10,3.4,3.50,2.10,3.3,3.50,2.20,3.72,3.54,2.13,3.52,3.46

In [6]:
season23 = season23.drop(['MaxH', 'MaxD', 'MaxA'], axis=1) 
season23

,Date,HomeTeam,AwayTeam,FTHG,FTAG,FTR,HTHG,HTAG,HTR,HS,AS,HST,AST,HF,AF,HC,AC,HY,AY,HR,AR,B365H,B365D,B365A,BWH,BWD,BWA,IWH,IWD,IWA,PSH,PSD,PSA,WHH,WHD,WHA,VCH,VCD,VCA,AvgH,AvgD,AvgA
0,05/08/2022,Crystal Palace,Arsenal,0,2,A,0,1,A,10,10,2,2,16,11,3,5,1,2,0,0,4.20,3.60,1.85,4.33,3.50,1.87,4.30,3.55,1.85,4.50,3.65,1.89,4.40,3.5,1.83,4.60,3.5,1.87,4.39,3.59,1.88
1,06/08/2022,Fulham,Liverpool,2,2,D,1,0,H,9,11,3,4,7,9,4,4,2,0,0,0,11.00,6.00,1.25,10.00,5.75,1.28,12.00,5.75,1.27,11.20,6.22,1.28,12.00,5.5,1.27,13.00,6.0,1.25,10.99,6.05,1.28
2,06/08/2022,Bournemouth,Aston Villa,2,0,H,1,0,H,7,15,3,2,18,16,5,5,3,3,0,0,3.75,3.50,2.00,3.75,3.40,2.00,3.65,3.45,2.05,3.93,3.58,2.04,3.75,3.3,2.05,3.75,3.3,2.00,3.80,3.50,2.04
3,06/08/2022,Leeds,Wolves,2,1,H,1,1,D,12,15,4,6,13,9,6,4,2,0,0,0,2.25,3.40,3.20,2.30,3.30,2.95,2.30,3.30,3.15,2.39,3.33,3.30,2.25,3.3,3.20,2.30,3.2,3.10,2.34,3.34,3.18
4,06/08/2022,Newcastle,Nott'm Forest,2,0,H,0,0,D,23,5,10,0,9,14,11,1,0,3,0,0,1.66,3.80,5.25,1.65,3.80,5.50,1.65,3.80,5.50,1.71,3.74,5.83,1.67,3.7,5.25,1.62,3.7,5.50,1.67,3.80,5.57
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
342,07/05/2023,Newcastle,Arsenal,0,2,A,0,1,A,12,10,5,6,16,12,9,4,2,1,0,0,2.45,3.75,2.63,2.50,3.60,2.60,2.40,3.65,2.80,2.51,3.80,2.73,2.50,3.6,2.62,2.45,3.5,2.70,2.49,3.73,2.71
343,07/05/2023,West Ham,Man United,1,0,H,1,0,H,15,19,4,4,4,9,5,6,0,2,0,0,3.40,3.75,2.05,3.40,3.60,2.05,3.35,3.65,2.10,3.57,3.78,2.07,3.30,3.6,2.10,3.40,3.6,2.05,3.43,3.74,2.08
344,08/05/2023,Fulham,Leicester,5,3,H,3,0,H,17,18,7,9,13,15,2,7,0,3,0,0,2.63,3.50,2.60,2.70,3.40,2.55,2.65,3.40,2.60,2.71,3.61,2.62,2.60,3.5,2.55,2.63,3.4,2.55,2.67,3.53,2.60
345,08/05/2023,Brighton,Everton,1,5,A,0,3,A,23,10,5,5,11,13,15,1,1,5,0,0,1.33,5.25,9.00,1.35,5.50,7.75,1.35,5.50,8.00,1.38,5.34,8.38,1.33,5.0,9.00,1.33,5.0,9.00,1.35,5.30,8.47
346,08/05/2023,Nott'm Forest,Southampton,4,3,H,3,1,H,9,19,4,5,16,10,2,11,1,0,0,0,2.10,3.60,3.40,2.05,3.40,3.50,2.15,3.50,3.35,2.17,3.60,3.45,2.10,3.4,3.50,2.10,3.3,3.50,2.13,3.52,3.46

In [7]:
pd.set_option('display.max_columns', None)
teams1 = pd.read_csv('../data/teams23.csv')
teams1.head()

,code,draw,form,id,loss,name,played,points,position,short_name,strength,team_division,unavailable,win,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away,pulse_id
0,3,0,NaN,1,0,Arsenal,0,0,0,ARS,4,NaN,False,0,1245,1285,1250,1250,1240,1320,1
1,7,0,NaN,2,0,Aston Villa,0,0,0,AVL,3,NaN,False,0,1070,1100,1070,1075,1070,1130,2
2,91,0,NaN,3,0,Bournemouth,0,0,0,BOU,2,NaN,False,0,1035,1095,1020,1110,1050,1080,127
3,94,0,NaN,4,0,Brentford,0,0,0,BRE,3,NaN,False,0,1115,1180,1100,1160,1130,1200,130
4,36,0,NaN,5,0,Brighton,0,0,0,BHA,3,NaN,False,0,1170,1175,1140,1150,1200,1200,131

In [8]:
teams1 = teams1.drop(['code', 'draw', 'form', 'id', 'loss', 'played', 'points', 'position', 'short_name', 'team_division', 'unavailable', 'win', 'pulse_id'], axis=1) 
teams1

,name,strength,strength_overall_home,strength_overall_away,strength_attack_home,strength_attack_away,strength_defence_home,strength_defence_away
0,Arsenal,4,1245,1285,1250,1250,1240,1320
1,Aston Villa,3,1070,1100,1070,1075,1070,1130
2,Bournemouth,2,1035,1095,1020,1110,1050,1080
3,Brentford,3,1115,1180,1100,1160,1130,1200
4,Brighton,3,1170,1175,1140,1150,1200,1200
5,Chelsea,3,1165,1220,1190,1220,1140,1220
6,Crystal Palace,3,1085,1100,1110,1110,1060,1090
7,Everton,3,1055,1095,1070,1100,1040,1090
8,Fulham,3,1095,1100,1070,1065,1120,1140
9,Leicester,3,1130,1115,1065,1110,1200,1120
10,Leeds,3,1100,1090,1070,1075,1130,1120
11,Liverpool,4,1220,1275,1180,1250,1260,1300
12,Man City,5,1350,1360,1340,1340,1360,1380
13,Man Utd,3,1155,1220,1140,1220,1165,1220
14,Newcastle,4,1210,1260,1250,1300,1165,1220
15,Nott'm Forest,3,1050,1100,1065,1100,1030,1105
16,Southampton,2,1065,1070,1070,1070,1060,1080
17,Spurs,3,1155,1220,1140,1210,1170,1230
18,West Ham,3,1100,1130,1145,1150,1060,1110
19,Wolves,3,1080,1090,1100,1100,1060,1080

In [9]:
pd.set_option('display.max_columns', None)
teams2 = pd.read_csv('../data/teams_fifa23.csv')
teams2.head()

,ID,Name,League,LeagueId,Overall,Attack,Midfield,Defence,TransferBudget,DomesticPrestige,IntPrestige,Players,StartingAverageAge,AllTeamAverageAge
0,1943,AFC Bournemouth,English Premier League (1),13,74,75,73,73,0,2,1,28,25.8,25.5
1,116418,AFC Richmond,English Premier League (1),13,78,81,79,77,0,5,3,19,27.3,27.3
2,1,Arsenal,English Premier League (1),13,80,83,81,79,0,7,7,29,24.1,23.0
3,2,Aston Villa,English Premier League (1),13,79,79,78,80,0,5,3,32,25.8,25.2
4,1925,Brentford,English Premier League (1),13,75,75,74,75,0,1,1,30,25.4,24.2

In [10]:
teams2 = teams2.drop(['ID', 'League', 'LeagueId', 'TransferBudget', 'DomesticPrestige', 'IntPrestige', 'Players'], axis=1) 
teams2

,Name,Overall,Attack,Midfield,Defence,StartingAverageAge,AllTeamAverageAge
0,AFC Bournemouth,74,75,73,73,25.8,25.5
1,AFC Richmond,78,81,79,77,27.3,27.3
2,Arsenal,80,83,81,79,24.1,23.0
3,Aston Villa,79,79,78,80,25.8,25.2
4,Brentford,75,75,74,75,25.4,24.2
...,...,...,...,...,...,...,...
673,Deportivo La Guaira FC,65,64,65,65,25.2,22.4
674,Deportivo Táchira FC,65,66,66,65,27.6,25.5
675,Estudiantes de Mérida,65,64,65,64,31.8,26.3
676,Hermanos Colmenarez,65,66,64,65,28.4,27.7
677,Metropolitanos de Caracas FC,65,65,66,65,26.7,26.3

In [11]:
teams2 = teams2.drop(['AllTeamAverageAge'], axis=1) 
teams2

,Name,Overall,Attack,Midfield,Defence,StartingAverageAge
0,AFC Bournemouth,74,75,73,73,25.8
1,AFC Richmond,78,81,79,77,27.3
2,Arsenal,80,83,81,79,24.1
3,Aston Villa,79,79,78,80,25.8
4,Brentford,75,75,74,75,25.4
...,...,...,...,...,...,...
673,Deportivo La Guaira FC,65,64,65,65,25.2
674,Deportivo Táchira FC,65,66,66,65,27.6
675,Estudiantes de Mérida,65,64,65,64,31.8
676,Hermanos Colmenarez,65,66,64,65,28.4
677,Metropolitanos de Caracas FC,65,65,66,65,26.7

In [12]:
teams2 = teams2.drop(labels=[1], axis=0)
teams2

,Name,Overall,Attack,Midfield,Defence,StartingAverageAge
0,AFC Bournemouth,74,75,73,73,25.8
2,Arsenal,80,83,81,79,24.1
3,Aston Villa,79,79,78,80,25.8
4,Brentford,75,75,74,75,25.4
5,Brighton & Hove Albion,76,76,75,77,27.6
...,...,...,...,...,...,...
673,Deportivo La Guaira FC,65,64,65,65,25.2
674,Deportivo Táchira FC,65,66,66,65,27.6
675,Estudiantes de Mérida,65,64,65,64,31.8
676,Hermanos Colmenarez,65,66,64,65,28.4
677,Metropolitanos de Caracas FC,65,65,66,65,26.7

In [13]:
teams2 = teams2.truncate(after=21)
teams2.head(22)

,Name,Overall,Attack,Midfield,Defence,StartingAverageAge
0,AFC Bournemouth,74,75,73,73,25.8
2,Arsenal,80,83,81,79,24.1
3,Aston Villa,79,79,78,80,25.8
4,Brentford,75,75,74,75,25.4
5,Brighton & Hove Albion,76,76,75,77,27.6
6,Chelsea,84,84,86,84,28.1
7,Crystal Palace,76,77,75,76,26.6
8,Everton,78,80,77,75,24.7
9,Fulham,76,78,76,74,27.6
10,Leeds United,76,78,76,76,24.2
11,Leicester City,79,81,80,78,26.7
12,Liverpool,85,84,82,87,26.9
13,Manchester City,85,86,86,86,27.2
14,Manchester United,82,85,83,80,25.4
15,Newcastle United,78,78,76,79,26.6
16,Nottingham Forest,76,75,76,74,24.7
17,Southampton,75,76,74,75,23.6
18,Tottenham Hotspur,81,84,81,79,26.4
19,West Ham United,80,79,80,78,28.1
20,Wolverhampton Wanderers,79,79,81,77,25.9
21,AC Ajaccio,70,71,70,70,29.1

In [14]:
teams2 = teams2.drop(labels=[21], axis=0)
teams2.head(21)

,Name,Overall,Attack,Midfield,Defence,StartingAverageAge
0,AFC Bournemouth,74,75,73,73,25.8
2,Arsenal,80,83,81,79,24.1
3,Aston Villa,79,79,78,80,25.8
4,Brentford,75,75,74,75,25.4
5,Brighton & Hove Albion,76,76,75,77,27.6
6,Chelsea,84,84,86,84,28.1
7,Crystal Palace,76,77,75,76,26.6
8,Everton,78,80,77,75,24.7
9,Fulham,76,78,76,74,27.6
10,Leeds United,76,78,76,76,24.2
11,Leicester City,79,81,80,78,26.7
12,Liverpool,85,84,82,87,26.9
13,Manchester City,85,86,86,86,27.2
14,Manchester United,82,85,83,80,25.4
15,Newcastle United,78,78,76,79,26.6
16,Nottingham Forest,76,75,76,74,24.7
17,Southampton,75,76,74,75,23.6
18,Tottenham Hotspur,81,84,81,79,26.4
19,West Ham United,80,79,80,78,28.1
20,Wolverhampton Wanderers,79,79,81,77,25.9

In [5]:
teams = season23['HomeTeam'].unique()
teams = sorted(teams)
print(teams)

['Arsenal', 'Aston Villa', 'Bournemouth', 'Brentford', 'Brighton', 'Chelsea', 'Crystal Palace', 'Everton', 'Fulham', 'Leeds', 'Leicester', 'Liverpool', 'Man City', 'Man United', 'Newcastle', "Nott'm Forest", 'Southampton', 'Tottenham', 'West Ham', 'Wolves']

In [24]:
import os
import re
import time 
path = '../../Fantasy-Premier-League/data/2022-23/'
understats_columns = ['xG','xGA','ppda','date']
team_understats = {}
files = sorted(os.listdir(path+'understat/'))[1:]
for idx,file in enumerate(files):
    row = pd.read_csv(path+'understat/'+file)[understats_columns]
    for loc in range(row.shape[0]):
        nums = re.findall(r'\d+', row['ppda'].loc[loc])
        res = int(nums[0]) / int(nums[1])
        row['ppda'].loc[loc] = res
    team_understats[teams[idx]] = row
team_understats

C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res
C:\Users\17202\AppData\Local\Temp\ipykernel_16452\2701321722.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  row['ppda'].loc[loc] = res

{'Arsenal':           xG       xGA       ppda                 date
 0   0.488895  0.588341   6.608696  2022-08-06 14:00:00
 1   2.666960  1.375070   9.304348  2022-08-13 11:30:00
 2   0.803828  2.911370   7.411765  2022-08-20 14:00:00
 3   0.304555  0.334589       13.5  2022-08-28 13:00:00
 4   0.297168  2.799710  14.631579  2022-08-31 18:30:00
 5   0.279392  1.921430  43.909091  2022-09-03 16:30:00
 6   1.343650  0.218302   5.948718  2022-09-16 19:00:00
 7   1.896450  0.298626   9.583333  2022-10-02 15:30:00
 8   0.657187  0.221346   7.136364  2022-10-10 19:00:00
 9   2.445420  1.236430  14.037037  2022-10-16 13:00:00
 10  0.711487  2.892000       18.6  2022-10-20 18:30:00
 11  3.456170  1.004620   7.172414  2022-10-23 13:00:00
 12  0.270814  4.188080       17.5  2022-10-29 14:00:00
 13  0.578563  0.517189       18.0  2022-11-06 14:00:00
 14  1.154370  0.829107  16.388889  2022-11-13 14:00:00
 15  1.691550  3.506940       30.0  2022-12-26 17:30:00
 16  1.217330  0.569383  17.277778  2023-01-01 14:00:00
 17  1.032260  0.832522  18.692308  2023-01-04 20:00:00
 18  1.645990  2.462950       7.45  2023-01-13 20:00:00
 19  1.164320  0.672444   7.571429  2023-01-21 15:00:00
 20  1.498900  2.497840       7.72  2023-02-04 15:00:00
 21  0.275348  3.609870       23.6  2023-02-12 16:30:00
 22  0.335752  2.859810  14.684211  2023-02-18 12:30:00
 23  2.060370  1.541090       11.0  2023-02-25 15:00:00
 24  0.890605  0.152761   8.576923  2023-03-04 15:00:00
 25  1.991390  2.146340       23.0  2023-03-12 14:00:00
 26  3.454740  0.500140       8.24  2023-03-18 15:00:00
 27  0.765794  2.380240  12.291667  2023-04-01 16:30:00
 28  1.001590  0.671597       10.4  2023-04-04 18:45:00
 29  1.427180  0.232452   6.052632  2023-04-08 14:00:00
 30  1.918020  0.425086   6.962963  2023-04-15 11:30:00
 31  1.666020  2.031620     8.3125  2023-04-22 14:00:00
 32  0.839159  0.079864    15.3125  2023-04-25 18:45:00
 33  0.434738  1.305600  23.642857  2023-04-30 13:00:00
 34  1.501580  0.806050   7.142857  2023-05-06 14:00:00,
 'Aston Villa':           xG       xGA       ppda                 date
 0   0.588341  0.488895      11.68  2022-08-06 14:00:00
 1   0.123946  1.690640  51.166667  2022-08-13 14:00:00
 2   0.211335  1.710810  15.652174  2022-08-20 16:30:00
 3   0.180991  4.860350  29.583333  2022-08-27 14:00:00
 4   0.362035  1.532460  17.611111  2022-08-31 18:30:00
 5   0.905041  1.328950    15.6875  2022-09-03 14:00:00
 6   0.976948  1.547580  20.357143  2022-09-17 14:00:00
 7   0.758128  1.046000    19.0625  2022-10-01 14:00:00
 8   1.148910  1.181250  37.555556  2022-10-08 14:00:00
 9   1.628290  1.617380      14.95  2022-10-15 14:00:00
 10  0.810452  1.238780  11.761905  2022-10-19 18:30:00
 11  0.730443  1.977150  15.684211  2022-10-24 19:00:00
 12  0.887533  2.194600    20.5625  2022-10-29 14:00:00
 13  1.555940  2.225320  15.384615  2022-11-05 15:00:00
 14  2.456420  0.768756  22.428571  2022-11-12 15:00:00
 15  0.443070  1.913780  15.291667  2022-12-27 17:30:00
 16  0.895819  1.752640       7.05  2022-12-31 15:00:00
 17  0.679022  2.973830  24.071429  2023-01-03 20:00:00
 18  0.269283  1.298150  10.142857  2023-01-14 17:30:00
 19  1.805490  1.575440       19.5  2023-01-21 15:00:00
 20  0.908298  2.556960  23.266667  2023-02-04 15:00:00
 21  1.544580  1.548530       15.5  2023-02-11 17:30:00
 22  1.152740  0.911415  21.235294  2023-02-18 15:00:00
 23  1.085270  2.982060  32.357143  2023-02-25 17:30:00
 24  1.742670  2.462790       14.2  2023-03-04 15:00:00
 25  1.101280  2.134650  27.538462  2023-03-11 12:30:00
 26  0.500140  3.454740   7.771429  2023-03-18 15:00:00
 27  3.140540  0.601049  12.041667  2023-04-01 14:00:00
 28  1.153220  2.633920       11.5  2023-04-04 18:45:00
 29  1.923960  0.731965  10.681818  2023-04-08 14:00:00
 30  1.205980  2.306040  13.157895  2023-04-15 14:00:00
 31  0.974687  2.523220   9.352941  2023-04-23 13:00:00
 32  0.988554  0.477034  10.222222  2023-04-27 18:45:00
 33  2.517230  1.336910      12.55  2023-04-30 13:00:00
 34  1.217550  1.768520    19.3125  2023-05-06 14:00:00,
 'Bournemouth':           xG       xGA       ppda                 date
 0   0.931067  0.455695  22.214286  2022-08-07 13:00:00
 1   1.387850  0.896038       20.4  2022-08-13 16:30:00
 2   1.593520  2.899340  11.153846  2022-08-20 14:00:00
 3   2.283910  1.654650       11.5  2022-08-27 14:00:00
 4   1.618080  0.777363  14.473684  2022-08-30 18:30:00
 5   2.748500  1.796000        6.7  2022-09-03 14:00:00
 6   0.540110  1.320210  11.541667  2022-09-18 11:00:00
 7   1.046000  0.758128       7.64  2022-10-01 14:00:00
 8   1.134660  2.446310       9.15  2022-10-08 14:00:00
 9   1.906360  2.156680       13.0  2022-10-14 19:00:00
 10  1.452280  0.557405  16.705882  2022-10-19 18:30:00
 11  1.004620  3.456170   7.363636  2022-10-23 13:00:00
 12  1.292570  0.557605       5.84  2022-10-29 14:00:00
 13  1.220400  1.296960  13.357143  2022-11-05 15:00:00
 14  3.290120  1.605000  16.461538  2022-11-12 12:30:00
 15  2.252630  0.883787  11.583333  2022-12-26 12:30:00
 16  1.514360  1.139790  30.444444  2022-12-30 19:45:00
 17  2.099100  2.104610  16.117647  2023-01-02 17:30:00
 18  1.298150  0.269283       13.0  2023-01-14 17:30:00
 19  0.171140  0.374736   7.037037  2023-01-22 14:00:00
 20  2.367470  0.644385  12.058824  2023-02-04 15:00:00
 21  2.175380  1.367380       12.0  2023-02-11 15:00:00
 22  0.610105  1.122020       7.32  2023-02-18 15:00:00
 23  2.443580  1.675310   6.210526  2023-03-06 20:00:00
 24  1.950880  1.715990   6.055556  2023-03-11 15:00:00
 25  1.665910  0.358977  11.807692  2023-03-15 19:30:00
 26  0.476467  1.421330   9.133333  2023-03-18 15:00:00
 27  1.278800  3.819500  11.956522  2023-04-01 14:00:00
 28  0.644990  1.144500  17.705882  2023-04-05 19:00:00
 29  2.065210  1.023370    12.5625  2023-04-08 14:00:00
 30  1.513300  0.939120  12.952381  2023-04-15 14:00:00
 31  2.031620  1.666020   9.230769  2023-04-22 14:00:00
 32  0.695344  1.211240       14.4  2023-04-26 18:45:00
 33  1.320590  0.939693  11.583333  2023-04-29 14:00:00
 34  0.183892  1.992000        9.0  2023-05-06 16:30:00,
 'Brentford':           xG       xGA       ppda                 date
 0   1.728900  1.421030   9.961538  2022-08-07 13:00:00
 1   1.608350  0.183952   6.291667  2022-08-13 14:00:00
 2   1.826450  0.768634  18.857143  2022-08-21 13:00:00
 3   1.609860  1.148740      12.35  2022-08-27 14:00:00
 4   1.753590  1.070930        6.6  2022-08-30 18:30:00
 5   2.731660  1.065490      11.84  2022-09-04 13:00:00
 6   2.365670  2.151500  17.333333  2022-10-01 14:00:00
 7   0.899735  0.771641  14.333333  2022-10-08 16:30:00
 8   2.156680  1.906360       3.96  2022-10-14 19:00:00
 9   2.101880  0.195003   7.764706  2022-10-18 18:30:00
 10  0.528630  1.862390  13.588235  2022-10-22 14:00:00
 11  2.881000  1.075540  22.692308  2022-10-29 14:00:00
 12  1.873750  1.292520   8.928571  2022-11-05 15:00:00
 13  0.829107  1.154370    4.96875  2022-11-13 14:00:00
 14  1.007140  1.707090    11.0625  2022-12-26 15:00:00
 15  1.156630  3.221060      8.125  2022-12-31 17:30:00
 16  2.507310  1.168960       21.2  2023-01-03 19:45:00
 17  2.400620  1.288530       13.0  2023-01-14 15:00:00
 18  1.944910  1.359410   9.809524  2023-01-21 15:00:00
 19  2.556960  0.908298   6.947368  2023-02-04 15:00:00
 20  2.649810  0.928279   3.633333  2023-02-11 15:00:00
 21  2.713750  0.224214        6.2  2023-02-18 15:00:00
 22  3.499930  0.250045  10.473684  2023-03-04 15:00:00
 23  1.513880  0.596738       7.88  2023-03-11 15:00:00
 24  0.588727  1.214520   8.481481  2023-03-15 19:30:00
 25  3.819500  1.278800     6.3125  2023-04-01 14:00:00
 26  2.633920  1.153220       11.0  2023-04-04 18:45:00
 27  1.475490  0.594139   6.392857  2023-04-08 14:00:00
 28  2.521070  0.463310     10.375  2023-04-15 14:00:00
 29  2.330640  2.438460       4.52  2023-04-26 18:30:00
 30  3.604710  0.603985   7.133333  2023-04-29 14:00:00
 31  2.099530  1.321050   6.642857  2023-05-04 19:00:00
 32  3.237170  2.942230   3.058824  2023-05-08 16:30:00,
 'Brighton':           xG       xGA       ppda                 date
 0   1.923150  0.541983   6.192308  2022-08-06 16:30:00
 1   1.839450  1.587080   6.655172  2022-08-14 15:30:00
 2   0.692492  2.209710   4.633333  2022-08-21 13:00:00
 3   1.749160  1.960230      11.24  2022-08-27 14:00:00
 4   1.504700  1.440860   3.407407  2022-08-30 18:45:00
 5   0.707333  1.419600   9.647059  2022-09-03 14:00:00
 6   1.255060  0.709870   7.807692  2022-10-01 14:00:00
 7   2.430920  0.748449  11.291667  2022-10-08 14:00:00
 8   1.236430  2.445420  13.533333  2022-10-16 13:00:00
 9   0.557405  1.452280       10.5  2022-10-19 18:30:00
 10  1.202380  0.730935       16.0  2022-10-22 15:30:00
 11  1.075540  2.881000       12.5  2022-10-29 14:00:00
 12  0.278815  2.378460   8.551724  2022-11-06 12:00:00
 13  0.359105  1.360100  10.681818  2022-11-12 17:30:00
 14  1.913780  0.443070  10.470588  2022-12-27 17:30:00
 15  1.373050  0.985219   6.136364  2023-01-01 16:30:00
 16  0.493576  1.719720  13.583333  2023-01-05 20:00:00
 17  2.399110  0.711266   8.730769  2023-01-12 19:00:00
 18  2.129870  0.837366    5.73913  2023-01-15 14:00:00
 19  1.844670  1.301250   9.814815  2023-01-21 12:30:00
 20  1.414710  0.493341   4.272727  2023-02-03 20:00:00
 21  0.900465  1.076150       5.65  2023-02-11 12:30:00
 22  1.617230  0.619532   5.862069  2023-02-18 15:00:00
 23  0.262281  0.926313   8.033333  2023-02-26 13:30:00
 24  1.867800  0.633995       8.44  2023-03-04 15:00:00
 25  1.494780  2.361390  13.181818  2023-03-11 15:00:00
 26  1.900270  1.646750   7.133333  2023-03-18 17:30:00
 27  2.380240  0.765794   4.542857  2023-04-01 16:30:00
 28  2.189030  0.202217      15.75  2023-04-04 19:00:00
 29  0.815308  0.601153  10.176471  2023-04-08 14:00:00
 30  0.463310  2.521070      15.55  2023-04-15 14:00:00
 31  1.211240  0.695344   8.333333  2023-04-26 18:45:00
 32  0.785202  2.783200  23.769231  2023-05-02 19:00:00
 33  1.768520  1.217550   6.347826  2023-05-06 14:00:00,
 'Chelsea':           xG       xGA       ppda                 date
 0   1.206370  1.436010      10.25  2022-08-05 19:00:00
 1   1.644680  2.235960  41.272727  2022-08-15 19:00:00
 2   2.911370  0.803828  13.944444  2022-08-20 14:00:00
 3   0.091976  2.385300       56.0  2022-08-27 14:00:00
 4   0.777363  1.618080       13.0  2022-08-30 18:30:00
 5   0.920595  2.906720  11.866667  2022-09-03 14:00:00
 6   0.709870  1.255060       17.0  2022-10-01 14:00:00
 7   1.651940  1.065640   7.105263  2022-10-09 13:00:00
 8   0.346808  0.973426  24.357143  2022-10-15 11:30:00
 9   1.256170  0.857837   7.727273  2022-10-18 19:15:00
 10  0.597167  1.933960   8.583333  2022-10-22 14:00:00
 11  1.003840  1.358030  11.608696  2022-10-29 14:00:00
 12  1.033440  0.192579  31.333333  2022-11-06 14:00:00
 13  1.145520  1.237520        8.2  2022-11-12 15:00:00
 14  0.421754  2.699270  18.111111  2022-12-26 15:00:00
 15  1.752640  0.895819   9.730769  2022-12-31 15:00:00
 16  0.787525  1.665140      14.75  2023-01-04 20:00:00
 17  0.837366  2.129870       11.5  2023-01-15 14:00:00
 18  0.413339  1.394370  13.068966  2023-01-18 15:30:00
 19  0.333154  1.443840   7.870968  2023-01-21 17:30:00
 20  1.379800  2.070350  16.466667  2023-02-04 15:00:00
 21  0.928279  2.649810  21.619048  2023-02-11 15:00:00
 22  1.122020  0.610105  19.733333  2023-02-18 15:00:00
 23  0.989086  1.351230  18.681818  2023-02-25 19:45:00
 24  0.152761  0.890605   9.405405  2023-03-04 15:00:00
 25  0.185498  2.188400  17.411765  2023-03-11 17:30:00
 26  1.214520  0.588727       10.5  2023-03-15 19:30:00
 27  1.191940  1.535680  17.222222  2023-03-19 14:00:00
 28  1.934710  0.198959  12.952381  2023-04-01 14:00:00
 29  3.226870  1.020750       11.0  2023-04-09 13:00:00
 30  0.863060  0.678449   9.090909  2023-04-15 14:00:00
 31  0.368137  0.433712     9.4375  2023-04-22 14:00:00
 32  0.580294  1.128290       8.75  2023-04-25 18:30:00
 33  2.318880  1.982620       7.55  2023-04-29 11:30:00
 34  0.306669  1.156650  10.793103  2023-05-06 14:00:00,
 'Crystal Palace':           xG       xGA       ppda                 date
 0   0.541983  1.923150       12.0  2022-08-06 16:30:00
 1   1.375070  2.666960  18.615385  2022-08-13 11:30:00
 2   1.434080  0.918315  18.615385  2022-08-20 14:00:00
 3   1.654650  2.283910       17.4  2022-08-27 14:00:00
 4   1.171890  1.045510      13.64  2022-08-30 19:00:00
 5   1.391690  1.386170  23.090909  2022-09-03 11:30:00
 6   0.397730  0.655351  15.461538  2022-09-18 13:15:00
 7   1.999790  1.959610    14.4375  2022-10-01 14:00:00
 8   0.365844  1.826120  19.882353  2022-10-09 18:00:00
 9   0.560039  2.494090  25.071429  2022-10-15 16:30:00
 10  0.060957  1.133930       10.9  2022-10-19 18:30:00
 11  1.933960  0.597167   9.655172  2022-10-22 14:00:00
 12  1.191660  1.764380  22.636364  2022-10-29 16:30:00
 13  1.372900  2.267900  22.533333  2022-11-05 17:30:00
 14  0.768756  2.456420        5.5  2022-11-12 15:00:00
 15  1.226530  1.220760   8.590909  2022-12-26 15:00:00
 16  0.076002  2.363330       33.9  2022-12-31 15:00:00
 17  1.168960  2.507310  22.333333  2023-01-03 19:45:00
 18  1.181910  1.084120  13.071429  2023-01-14 15:00:00
 19  0.286826  2.468790  10.526316  2023-01-21 15:00:00
 20  2.091910  0.690102       18.0  2023-02-04 12:30:00
 21  0.402331  2.232910  14.407407  2023-02-13 20:00:00
 22  1.538110  0.597403  10.157895  2023-02-18 15:00:00
 23  1.541090  2.060370   7.105263  2023-02-25 15:00:00
 24  1.604000  3.069190       22.0  2023-03-01 20:00:00
 25  1.708770  0.799733   7.909091  2023-03-05 14:00:00
 26  1.715990  1.950880       11.5  2023-03-11 15:00:00
 27  1.646750  1.900270  12.958333  2023-03-18 17:30:00
 28  0.823365  1.391770  12.655172  2023-04-03 19:00:00
 29  0.949183  4.385780  12.214286  2023-04-08 11:30:00
 30  2.242620  1.922090    13.5625  2023-04-15 14:00:00
 31  0.433712  0.368137   8.818182  2023-04-22 14:00:00
 32  0.777008  2.863680  11.363636  2023-04-27 18:45:00
 33  3.286480  3.324860   8.692308  2023-05-01 19:00:00
 34  2.942230  3.237170      17.05  2023-05-08 16:30:00,
 'Everton':           xG       xGA       ppda                 date
 0   1.268220  2.341110  18.473684  2022-08-06 11:30:00
 1   1.088130  0.975375  14.714286  2022-08-13 14:00:00
 2   2.899340  1.593520      9.625  2022-08-20 14:00:00
 3   0.926007  2.474270  14.863636  2022-08-27 16:30:00
 4   1.070930  1.753590  14.090909  2022-08-30 18:30:00
 5   0.381556  2.678230  16.222222  2022-09-03 14:00:00
 6   1.349600  1.415410  12.111111  2022-09-16 19:00:00
 7   0.683701  4.671980  32.181818  2022-10-01 14:00:00
 8   0.549848  3.436760  17.933333  2022-10-09 13:00:00
 9   1.617380  1.628290       8.25  2022-10-15 14:00:00
 10  2.892000  0.711487  11.266667  2022-10-20 18:30:00
 11  2.475120  1.963840  14.684211  2022-10-23 13:00:00
 12  1.764380  1.191660      11.15  2022-10-29 16:30:00
 13  0.843884  2.393320  35.461538  2022-11-05 15:00:00
 14  1.702180  3.376640  11.857143  2022-11-13 16:30:00
 15  2.699270  0.421754   8.678571  2022-12-26 15:00:00
 16  1.493050  0.698711    7.52381  2022-12-31 15:00:00
 17  1.334930  1.452210  15.227273  2023-01-03 19:45:00
 18  0.711266  2.399110  14.590909  2023-01-12 19:00:00
 19  0.989872  1.962560  14.733333  2023-01-15 14:00:00
 20  1.093390  0.993805   9.275862  2023-01-23 20:00:00
 21  0.493341  1.414710  19.727273  2023-02-03 20:00:00
 22  1.697040  0.686824  11.217391  2023-02-11 15:00:00
 23  0.224214  2.713750  22.058824  2023-02-18 15:00:00
 24  0.913133  0.997097   9.481481  2023-02-24 20:00:00
 25  1.675310  2.443580   4.521739  2023-03-06 20:00:00
 26  0.618320  2.643550      17.05  2023-03-12 14:00:00
 27  0.601049  3.140540   7.038462  2023-04-01 14:00:00
 28  0.456524  1.232610   4.277778  2023-04-08 14:00:00
 29  1.922090  2.242620  13.466667  2023-04-15 14:00:00
 30  1.437630  1.074820  12.176471  2023-04-22 11:30:00
 31  0.079864  0.839159      8.125  2023-04-25 18:45:00
 32  0.431813  2.323380  18.952381  2023-04-30 13:00:00
 33  0.740125  1.673720  28.416667  2023-05-03 19:00:00
 34  1.752760  2.925660   7.296296  2023-05-08 14:00:00,
 'Fulham':           xG       xGA       ppda                 date
 0   0.889170  1.101190   9.285714  2022-08-06 14:00:00
 1   1.996940  1.409060   4.852941  2022-08-13 14:00:00
 2   2.209710  0.692492     8.5625  2022-08-21 13:00:00
 3   1.148740  1.609860        5.5  2022-08-27 14:00:00
 4   1.045510  1.171890   5.857143  2022-08-30 19:00:00
 5   1.796000  2.748500   3.354839  2022-09-03 14:00:00
 6   0.298626  1.896450  13.333333  2022-10-02 15:30:00
 7   1.065640  1.651940   6.368421  2022-10-09 13:00:00
 8   2.022320  0.821757  12.142857  2022-10-16 13:00:00
 9   1.194640  0.655249        8.7  2022-10-20 19:15:00
 10  1.963840  2.475120   6.033333  2022-10-23 13:00:00
 11  1.612710  1.908890  29.285714  2022-10-29 18:45:00
 12  2.225320  1.555940   4.757576  2022-11-05 15:00:00
 13  1.717310  2.580460  21.533333  2022-11-12 15:00:00
 14  0.603751  4.162490       27.0  2022-12-28 20:00:00
 15  0.517099  2.788460   9.086957  2022-12-31 15:00:00
 16  1.257700  1.292450    4.26087  2023-01-04 19:45:00
 17  2.462950  1.645990   6.219512  2023-01-13 20:00:00
 18  0.374736  0.171140    7.26087  2023-01-22 14:00:00
 19  1.123310  0.332500   3.333333  2023-02-05 14:00:00
 20  0.554798  2.000070  12.222222  2023-02-08 19:00:00
 21  1.891630  1.303750  11.266667  2023-02-12 14:00:00
 22  0.597403  1.538110  12.117647  2023-02-18 15:00:00
 23  0.720048  0.391128   5.444444  2023-02-25 15:00:00
 24  0.633995  1.867800  17.894737  2023-03-04 15:00:00
 25  0.596738  1.513880  11.689655  2023-03-11 15:00:00
 26  1.654900  2.763580       18.5  2023-03-18 15:00:00
 27  0.497609  3.295480       16.8  2023-04-01 14:00:00
 28  2.432480  0.613917   5.392857  2023-04-04 18:45:00
 29  1.020750  3.226870   5.186047  2023-04-09 13:00:00
 30  1.167480  2.654760  32.352941  2023-04-17 19:00:00
 31  1.074820  1.437630     6.3125  2023-04-22 11:30:00
 32  2.096450  2.085940   7.275862  2023-04-25 19:00:00
 33  1.336910  2.517230   6.870968  2023-04-30 13:00:00
 34  0.140924  2.834720  22.842105  2023-05-06 14:00:00,
 'Leeds':           xG       xGA       ppda                 date
 0   0.455695  0.931067  17.705882  2022-08-07 13:00:00
 1   0.690679  3.010700       14.0  2022-08-13 14:00:00
 2   0.242948  1.241550   4.806452  2022-08-20 14:00:00
 3   1.960230  1.749160       21.5  2022-08-27 14:00:00
 4   0.615266  1.099690       12.0  2022-09-01 19:00:00
 5   1.065490  2.731660       45.0  2022-09-04 13:00:00
 6   1.594490  1.986190  17.111111  2022-09-17 16:30:00
 7   1.249700  1.221690  10.034483  2022-10-03 19:00:00
 8   1.181250  1.148910   8.678571  2022-10-08 14:00:00
 9   0.973426  0.346808   7.710526  2022-10-15 11:30:00
 10  0.655249  1.194640  10.678571  2022-10-20 19:15:00
 11  0.989075  1.617850  19.529412  2022-10-23 13:00:00
 12  0.693597  0.703827     31.875  2022-10-29 11:30:00
 13  2.267900  1.372900  15.733333  2022-11-05 17:30:00
 14  1.605660  0.720721  11.652174  2022-11-12 15:00:00
 15  0.310990  1.763820   6.966667  2022-12-26 15:00:00
 16  0.863312  2.024630    22.0625  2022-12-30 20:00:00
 17  1.452210  1.334930       6.25  2023-01-03 19:45:00
 18  0.803421  1.753130     11.625  2023-01-14 15:00:00
 19  1.359410  1.944910  32.818182  2023-01-21 15:00:00
 20  2.497840  1.498900  13.333333  2023-02-04 15:00:00
 21  1.412080  1.117090   7.073171  2023-02-11 15:00:00
 22  1.396780  4.246630  11.586207  2023-02-19 14:00:00
 23  0.020346  0.722059  15.722222  2023-02-25 15:00:00
 24  1.670510  1.343320   5.964286  2023-03-04 17:30:00
 25  2.361390  1.494780  10.677419  2023-03-11 15:00:00
 26  1.421330  0.476467       9.88  2023-03-18 15:00:00
 27  0.198959  1.934710   8.407407  2023-04-01 14:00:00
 28  0.671597  1.001590  10.222222  2023-04-04 18:45:00
 29  0.731965  1.923960  12.176471  2023-04-08 14:00:00
 30  1.926920  1.607020  21.789474  2023-04-15 16:30:00
 31  2.669290  0.596260  14.157895  2023-04-22 14:00:00

In [26]:
playing_style = pd.read_csv('../data/teams_fifa23.csv')
playing_style['str_defensive_style'], _ = pd.factorize(playing_style['str_defensive_style'])
playing_style['str_offensive_style'], _ = pd.factorize(playing_style['str_offensive_style'])
idxs = [10,13]
cols = playing_style.columns
style_data = {}
for team in teams:
    style_data[team] = np.array(playing_style[playing_style['str_team_name'] == team][cols[idxs]])
style_data['Arsenal'][0]

KeyError: 'str_defensive_style'